{% extends 'clinica/base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'Clinica/css/inicio.css' %}">
{% endblock %}

{% block hero %}
  <div class="container">
    <section class="hero" style="--hero-bg: url('{% static "Clinica/img/doctores.jpg" %}');">
      <div class="hero-card">
        <h1>Bienvenido al Sistema Clínico</h1>
        <p class="lead">Administra pacientes, citas y médicos rápidamente.</p>
      </div>
    </section>
  </div>
{% endblock %}

{% block content %}
<!-- contenido de inicio -->
{% endblock %}