{% extends 'clinica/base.html' %}
{% load static %}

{% block title %}Cerrar sesión{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'Clinica/css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-wrap">
  <div class="auth-card">
    <h1>¿Cerrar sesión?</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="d-grid gap-2 mt-3">
        <button class="btn btn-success btn-register-large" type="submit">Registrarse</button>
      </div>
    </form>
    <div class="auth-links">
      <a href="{% url 'clinica:inicio' %}">Volver</a>
    </div>
  </div>
</div>
{% endblock %}
