services:
  - type: web
    name: sistema-clinico
    env: python
    rootDir: SistemaClinico     # <- Muy importante en monorepo
    buildCommand: |
      pip install -r ../requirements.txt
      python manage.py collectstatic --no-input
      python manage.py migrate --no-input
    startCommand: gunicorn SistemaClinico.wsgi:application
    autoDeploy: true
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: ".onrender.com"
      - key: PYTHON_VERSION
        value: "3.11.0"
      # DATABASE_URL la inyectará automáticamente la base de datos de Render si la asocias

databases:
  - name: sistema-clinico-db
    databaseName: sistema_clinico
    user: sistema_clinico_user

